<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.11" targetFramework="net452" />
  <package id="Google.Apis" version="1.37.0" targetFramework="net471" />
  <package id="Google.Apis.Auth" version="1.37.0" targetFramework="net471" />
  <package id="Google.Apis.Core" version="1.37.0" targetFramework="net471" />
  <package id="Google.Apis.YouTube.v3" version="1.37.0.1469" targetFramework="net471" />
  <package id="LightInject" version="5.3.0" targetFramework="net471" />
  <package id="log4net" version="2.0.10" targetFramework="net471" />
  <package id="MyToolkit" version="2.5.16" targetFramework="net452" />
  <package id="MyToolkit.Extended" version="2.5.16" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net471" />
  <package id="System.IO" version="4.3.0" targetFramework="net471" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net471" />
  <package id="System.Reactive" version="4.1.2" targetFramework="net471" />
  <package id="System.Reactive.Core" version="4.1.2" targetFramework="net471" />
  <package id="System.Reactive.Interfaces" version="4.1.2" targetFramework="net471" />
  <package id="System.Reactive.Linq" version="4.1.2" targetFramework="net471" />
  <package id="System.Reactive.PlatformServices" version="4.1.2" targetFramework="net471" />
  <package id="System.Reactive.Windows.Threading" version="4.1.2" targetFramework="net471" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net471" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net471" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net471" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net471" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net471" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net471" />
  <package id="VideoLAN.LibVLC.Windows" version="3.0.5" targetFramework="net452" />
  <package id="Vlc.DotNet.Core" version="3.0.0-develop275" targetFramework="net452" />
  <package id="Vlc.DotNet.Core.Interops" version="3.0.0-develop275" targetFramework="net452" />
  <package id="Vlc.DotNet.Forms" version="3.0.0-develop275" targetFramework="net452" />
  <package id="Vlc.DotNet.Wpf" version="3.0.0-develop275" targetFramework="net452" />
  <package id="YoutubeExplode" version="4.6.4" targetFramework="net452" />
</packages>