<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.7.0" targetFramework="net452" />
  <package id="Google.Apis" version="1.14.0" targetFramework="net452" />
  <package id="Google.Apis.Auth" version="1.14.0" targetFramework="net452" />
  <package id="Google.Apis.Core" version="1.14.0" targetFramework="net452" />
  <package id="Google.Apis.YouTube.v3" version="1.14.0.529" targetFramework="net452" />
  <package id="LightInject" version="4.0.11" targetFramework="net452" />
  <package id="log4net" version="2.0.3" targetFramework="net452" />
  <package id="Meta.Vlc" version="16.05.01" targetFramework="net452" developmentDependency="true" />
  <package id="Meta.Vlc.Lib" version="16.05.01" targetFramework="net452" developmentDependency="true" />
  <package id="Meta.Vlc.Wpf" version="16.05.01.2" targetFramework="net452" developmentDependency="true" />
  <package id="MyToolkit" version="2.5.12.0" targetFramework="net452" />
  <package id="MyToolkit.Extended" version="2.5.12.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="System.Reactive.Core" version="3.0.0" targetFramework="net452" />
  <package id="System.Reactive.Interfaces" version="3.0.0" targetFramework="net452" />
  <package id="System.Reactive.Linq" version="3.0.0" targetFramework="net452" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="net452" />
</packages>